*{
  margin: 0;
  box-sizing: border-box;
  
}


/* All generic designs for 
every components is styled here.

For this to happen, the same class name is given to those component sections.
This makes the styling to appear same in diiferent componenets
with the same class name. */

body {
  font-family: 'Poppins', sans-serif;
}
.gray {
  color: #918E9B;
}

.bold {
  color: black;
  font-weight: 700;
}

section {
  padding: 20px;
}